@model SeniorProject.Models.ViewLayer.AccessDeniedViewModel

@{
    ViewBag.Title = "Access Denied";
}

<div class="text-center">
  <h1 class="display-4">Access Denied</h1>
  <p>
    <b>You can't access this page!</b>
    Your username is @Model.userName and your role is @Model.roleName.
  </p>
</div>
