@model SeniorProject.Models.ViewLayer.AccessDeniedViewModel

@{
    ViewBag.Title = "Please Logout First";
}

<div class="text-center">
  <h1 class="display-4">Authentication Error</h1>
  <p>
    <b>You are already logged in!</b>
    Your username is @Model.userName and your role is @Model.roleName.
  </p>
  <p>
    Please log out first if you would like to switch accounts.
  </p>
</div>
