@model SeniorProject.Models.ViewLayer.AccessDeniedViewModel

@{
    ViewBag.Title = "Please Logout First";
}
<h2>Please Log out first</h2>
<p>You are logged in as: @Model.userName with role: @Model.roleName</p>

