@using SeniorProject.Areas.Authenticated.Models
@{
    ViewData["Title"] = "Portal";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <ul>
                <li>
                    <a asp-area="Authenticated" asp-controller="Admin" asp-action="ManageUsers">ManageUsers</a>
                </li>
                 <li>
                    <a asp-area="Authenticated" asp-controller="Manager" asp-action="MembersSummary">ManageMembers</a>
                </li>
                <li>
                    <a asp-area="Authenticated" asp-controller="Manager" asp-action="DuesSummary">ManageDues</a>
                </li>
                <li>
                    <a asp-area="Authenticated" asp-controller="BasicMember" asp-action="EventsSummary">ManageEvents</a>
                </li>
                
                        
            </ul>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
    </div>
</div>