@using SeniorProject.Areas.Authenticated.Models.Manager
@model DuesViewModel
@{
    
    //Create a variable to store the viewbag action data and concatenate
    string title = ViewBag.Action + "page";
    //Assign the viewdata title used in layout to the variable above
    ViewData["Title"] = title;
}

<form asp-action="AddEditDues" method="post">
    <!--Add all the input and label for elements using asp.net tag helpers-->
    <div>
        <!--This one is readonly-->
        <label asp-for="DueID">ID</label>
        <input asp-for="DueID" readonly="true"/>
    </div>
    <div>
        <label asp-for="AmountDue">Amount Due</label>
        <input asp-for="AmountDue" />
    </div>
    <div>
        <label asp-for="DateTimeDue">DateTimeDue</label>
        <input asp-for="DateTimeDue" />
    </div>
    <div>
        <label asp-for="AmountPaid">AmountPaid</label>
        <input asp-for="AmountPaid" />
    </div>
    <div>
        <label asp-for="DateTimePaid">DateTimePaid</label>
        <input asp-for="DateTimePaid" />
    </div>
    <div>
        <label asp-for="PaymentMethod">PaymentMethod</label>
        <input asp-for="PaymentMethod" />
    </div>
    <div>
        <label asp-for="MemberID">MemberID</label>
        <input asp-for="MemberID" />
    </div>
    <div>
        <label asp-for="MemberActiveStatus">MemberActiveStatus</label>
        <input asp-for="MemberActiveStatus" />
    </div>
    <div>
        <label asp-for="MemberFirstName">MemberFirstName</label>
        <input asp-for="MemberFirstName" />
    </div>
    <div>
        <label asp-for="MemberLastName">MemberLastName</label>
        <input asp-for="MemberLastName" />
    </div>

   @* <!--Use a hidden Id field so that the primary key can be created on the datbase side-->
    <input type="hidden" asp-for="MemberID"/>*@
    <!--Set the btn text to whatever action edit or add this view is being used for.-->
    <button type="submit">Submit</button>
</form>