@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
  <h1 class="display-4">Privacy</h1>
  <p>
    <i>Last Updated: January 28, 2023</i>
  </p>
</div>
<div>
  <p>
    Greenville Custom Applications puts your privacy foremost.
    This privacy policy will help you understand how your
    data is used and who it is shared with.
  </p>
  <ul>
    <li>
      <b>What data is collected?</b>
      The application only collects data submitted by the user.
      This data is necessary to the functionality of the application.
    </li>
    <li>
      <b>Who it is shared with</b>
      Your data will remain private and only accessible by other users with the appropriate role when using the service.
    </li>
  </ul>
</div>
